header
      竞价活动
      .header-left
         button.btn.btn-default.btn-lg(ng-click="back()") 返 回

      .header-right
         button.btn.btn-default.btn-lg(ng-click="move()")(ng-disabled="click") 开 始

div#wrapper.wrapper.scrollable
       ul.list-style-2
           li(class="{{bid.color}}")(ng-repeat="bid in list2")
                a(ng-click="next(bid)")
                    h3{{bid.bid}}


 footer
    ul.footer-nav.footer-nav-2tabs
        li
                a(href='#/creat')(class="list-style-2") 报名

        li.active
                a(href='#/bids')(class="list-style-2") 竞价
